.offers__main__container{
    width: 100%;
    padding-top: 50px;
}
.offers__title{
    font-size: 30px;
    line-height: 70px;
    width: 97%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    border-bottom: 1px solid var(--gray);
    color: var(--red);
    padding: 0 20px;
}
.offers__inner__container{
    width: 97%;
    max-width: var(--maxWidth);
    margin: 100px auto;
    display: flex;
    justify-content: center;
    row-gap: 45px;
    column-gap: 30px;
    /* background: yellow; */
    /* padding: 0 35px; */
    flex-wrap: wrap;
}

.offer__item__card{
    width: 230px;
    min-height: 330px;
    background: white;
    box-shadow: 0px 2px 7px rgb(227, 227, 227);
    text-align: center;
}